#file-manager {
  background: white;
  height: auto;
  position: fixed;
  margin-top: 35px;
}
#file-manager .close-file-manager {
  top: 5px;
  right: 20px;
  position: absolute;
  color: white;
  padding: 0 !important;
  font-size: 24px !important;
}
#file-manager > h3 {
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  padding-left: 15px;
  border-radius: 5px 5px 0 0;
}
#file-manager .chonky-chonkyRoot {
  border-radius: 0 0 5px 0 !important;
  background-color: rgba(221, 221, 221, 0.3) !important;
}
#file-manager .chonky-chonkyRoot .chonky-searchFieldInput {
  height: 30px !important;
  margin-top: 0px !important;
  background: white !important;
}
#file-manager .file-manager-wrapper {
  padding-left: 20%;
  position: relative;
  width: 100%;
}
#file-manager .file-manager-wrapper .tree-view-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  overflow: auto;
  border-radius: 0px 5px 0px 5px;
  border: 1px solid #cccc;
  border-right: 0;
}
#file-manager .file-manager-wrapper .tree-view-container ul {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
#file-manager .file-manager-wrapper .tree-view-container ul li {
  position: relative;
}
#file-manager .file-manager-wrapper .tree-view-container ul li .toggle-sub-menu {
  position: absolute;
  left: 3px;
  top: 6px;
}
#file-manager .file-manager-wrapper .tree-view-container ul li a {
  padding: 5px;
  cursor: pointer;
  height: 30px;
  display: block;
  width: 100%;
  padding-left: 20px;
  border-bottom: 1px solid #ececec;
  background: #efefef;
}
#file-manager .file-manager-wrapper .tree-view-container ul li a.active {
  font-weight: bold;
}
#file-manager .file-manager-wrapper .tree-view-container ul li a:hover {
  background-color: white;
}
#file-manager .file-manager-wrapper .tree-view-container > ul {
  min-height: 100%;
}
.MuiMenu-paper {
  margin-top: 30px !important;
}
