#file-browser-container {
  background: white;
  height: auto;
  padding: 0;
  position: fixed;
  margin-top: 50px;
}
#file-browser-container .close-file-browser {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  background: #ececec;
  padding: 7px;
  height: 25px;
  line-height: 12px;
}
.MuiMenu-paper {
  margin-top: 30px !important;
}
