#sample-editor-overlay {
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 1;
}
#sample-editor-container {
  background: white;
  height: auto;
  position: fixed;
  margin-top: 15px;
  margin-left: -8px;
  padding: 0;
  z-index: 2;
  user-select: none;
}
#sample-editor-container #sample-editor-file-picker {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fdfdfd;
  width: 400px;
  min-height: 300px;
  margin-left: -200px;
  margin-top: -200px;
  z-index: 100;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
#sample-editor-container #sample-editor-file-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sample-editor-container #sample-editor-file-picker ul li {
  width: 100%;
  height: auto;
}
#sample-editor-container #sample-editor-file-picker ul li a {
  display: block;
  height: 25px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
}
#sample-editor-container #sample-editor-file-picker ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#sample-editor-container #sample-editor-file-picker ul li + li {
  border-top: 1px solid #ccc;
}
#sample-editor-container #sample-editor-file-picker h4 {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background: black;
  color: white;
  font-weight: bold;
  margin: 0;
}
#sample-editor-container #sample-editor-file-picker-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#sample-editor-container .sample-editor-menu {
  width: 100%;
  border: 1px solid #ccc;
  border-width: 0 1px;
  padding: 10px 7px;
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  float: left;
  font-size: 13px;
}
#sample-editor-container .sample-editor-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#sample-editor-container .sample-editor-menu ul li {
  float: left;
  width: auto;
}
#sample-editor-container .sample-editor-menu ul li a {
  padding: 6px;
  cursor: pointer;
  background-color: black !important;
  color: white;
  border-radius: 4px;
  display: block;
  padding-left: 6px !important;
}
#sample-editor-container .sample-editor-menu ul li + li {
  margin-left: 10px;
}
#sample-editor-container #sample-editor {
  width: 100%;
  height: auto;
  float: left;
  padding: 5px;
  border: 1px solid #ccc;
  border-top: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#sample-editor-container .close-sample-editor {
  top: 5px;
  right: 20px;
  position: absolute;
  color: white;
  padding: 0 !important;
  font-size: 24px !important;
}
#sample-editor-container h3 {
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  padding-left: 15px;
  border-radius: 5px 5px 0 0;
}
#sample-editor-container .sample-set {
  width: 20%;
  height: auto;
  float: left;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #cecece;
  position: relative;
}
#sample-editor-container .sample-set .sample-set-title {
  padding: 15px 0 25px;
  height: 70px;
  box-sizing: border-box;
}
#sample-editor-container .sample-set .sample-set-title h2 {
  margin: 0;
}
#sample-editor-container .sample-set .sample-set-title .input-wrapper {
  position: relative;
}
#sample-editor-container .sample-set .sample-set-title .input-wrapper a.undo-title-change {
  position: absolute;
  top: 5px;
  right: 5px;
}
#sample-editor-container .sample-set .sample-set-title input {
  margin-top: 5px;
  height: 21px;
  width: 100%;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  font-size: 12px;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div span {
  float: left;
  color: white;
  text-shadow: 0px 1px 2px black;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: auto;
  float: right;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div ul li {
  width: auto;
  float: left;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div ul li a {
  display: block;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div ul li a.is-active {
  font-weight: bold;
  background-color: dodgerblue;
  color: white;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div ul li:first-of-type a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div ul li:last-of-type a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#sample-editor-container .sample-set .track-keyzone-mode-menu div ul li + li a {
  border-left: 0;
}
#sample-editor-container .sample-set .color-picker-container {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 100;
}
#sample-editor-container .sample-set ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#sample-editor-container .sample-set ul li {
  float: left;
}
#sample-editor-container .sample-set ul.edit-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: #efefef;
  border-bottom-left-radius: 5px;
}
#sample-editor-container .sample-set ul.edit-menu li a {
  padding-left: 0px !important;
  cursor: pointer;
}
#sample-editor-container .sample-set ul.edit-menu li a.edit-button {
  z-index: 99;
  position: relative;
}
#sample-editor-container .sample-set ul.edit-menu li a.edit-button > span.edit-button {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sample-editor-container .sample-set ul.edit-menu li + li {
  margin-left: 5px;
}
#sample-editor-container .sample-set h2 {
  margin-top: 5px;
}
#sample-editor-container .sample-set .sample-list-container {
  position: relative;
  float: left;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
}
#sample-editor-container .sample-set .sample-list-container .dropzone-container {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 100;
  opacity: 1;
  z-index: 1001;
}
#sample-editor-container .sample-set .sample-list-container .dropzone-container.hidden {
  opacity: 0;
  transition: 0.2s;
  height: 0;
  overflow: hidden;
}
#sample-editor-container .sample-set .sample-list-container .dropzone-container section {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#sample-editor-container .sample-set .sample-list-container .dropzone-container section div {
  width: 100%;
  height: 100%;
  padding: 77px 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  background: #e3e3e3;
}
#sample-editor-container .sample-set .sample-list-container .dropzone-container section div p {
  margin: 0;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list {
  width: 100%;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list > li {
  height: 40px;
  overflow: hidden;
  width: 100%;
  background-color: #efefef;
  border: 1px solid #cecece;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  box-sizing: border-box;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list > li audio {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list > li h4 {
  margin: 13px 0;
  font-size: 12px;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list > li a.play-sample-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list > li a.play-sample-button i {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 30px;
  color: black;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list > li .edit-sample-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 0;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list > li .edit-sample-button i {
  font-size: 20px !important;
  left: 15px !important;
  top: 10px !important;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list > li .edit-sample-button input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
#sample-editor-container .sample-set .sample-list-container ul.sample-list li + li {
  border-top: 0;
}
#sample-editor-container .sample-set .sample-list-container.show-clips {
  max-height: 200px;
  overflow-y: scroll;
}
#sample-editor-container .sample-set ul.sample-set-actions li a {
  padding-left: 0px;
  padding-right: 5px;
  cursor: pointer;
}
#sample-editor-container .sample-set ul.sample-set-actions li a:hover {
  color: white;
}
#sample-editor-container .sample-set .sample-set-upload-container {
  width: calc(100% - 20px);
  height: 200px;
  position: absolute;
  top: 138px;
  left: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 1010;
  background: #e3e3e3;
}
#sample-editor-container .sample-set .sample-set-upload-container .dropzone-container {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 100;
  opacity: 1;
  z-index: 1011;
}
#sample-editor-container .sample-set .sample-set-upload-container .dropzone-container section {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#sample-editor-container .sample-set .sample-set-upload-container .dropzone-container section div {
  width: 100%;
  height: 100%;
  padding: 77px 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  background: #e3e3e3;
}
#sample-editor-container .sample-set .sample-set-upload-container .dropzone-container section div p {
  margin: 0;
}
#sample-editor-container .sample-set .sample-set-upload-container.source-picker {
  padding: 49px 15px;
}
#sample-editor-container .sample-set .sample-set-upload-container.source-picker a.button {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  transition: 0.2s;
  text-align: center;
  position: relative;
  cursor: pointer;
}
#sample-editor-container .sample-set .sample-set-upload-container.source-picker a.button:hover {
  background-color: white;
}
#sample-editor-container .sample-set .sample-set-upload-container.source-picker a.button input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}
#sample-editor-container .sample-set .sample-set-upload-container.source-picker a.close-source-picker {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 0;
  cursor: pointer;
}
#sample-editor-container .sample-set:first-of-type {
  border-top-left-radius: 10px;
}
#sample-editor-container .sample-set + .sample-set {
  border-left-width: 0px;
}
#sample-editor-container .sample-set:nth-child(5) {
  border-top-right-radius: 10px;
}
#sample-editor-container .sample-set:nth-child(6),
#sample-editor-container .sample-set:nth-child(7),
#sample-editor-container .sample-set:nth-child(8),
#sample-editor-container .sample-set:nth-child(9),
#sample-editor-container .sample-set:nth-child(10) {
  border-top-width: 0px;
}
#sample-editor-container .sample-set:nth-child(6) {
  border-left-width: 1px;
  border-bottom-left-radius: 10px;
}
#sample-editor-container .sample-set:nth-child(10) {
  border-bottom-right-radius: 10px;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: -250px;
  margin-top: -150px;
  z-index: 1000;
  overflow: hidden;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog.w-save {
  padding-bottom: 50px;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog .dialog-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 13px;
  border-top: 1px solid #ccc;
  background-color: white;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog .dialog-footer input {
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog .dialog-footer button {
  float: right;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog h4 {
  background-color: black;
  color: white;
  margin: 0;
  width: 100%;
  padding: 10px;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog a.close {
  position: absolute;
  top: 7px;
  right: 7px;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog ul {
  padding: 0;
  width: 100%;
  height: calc(100% - 21px);
  overflow: scroll;
  box-sizing: border-box;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog ul li {
  width: 100%;
  height: auto;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog ul li a {
  width: 100%;
  padding: 5px 10px;
  display: block;
  float: left;
  height: auto;
  cursor: pointer;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog ul li:nth-child(even) {
  background-color: aliceblue;
}
#sample-editor-container .sample-set-load-from-sketch-pad-dialog ul li + li {
  border-top: 1px solid #ccc;
}
#pattern-editor-container {
  width: 100%;
  height: calc(100% - 82px);
  top: 81px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
