#sketchpad-manager-display-overlay{
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
}  

#sketchpad-manager-display{
    background-color: #fff;
    height: auto;
    position: fixed;
    margin-top: 35px;
    margin-left: -8px;
    padding: 0;
    z-index: 2;
    user-select: none;
    width: 98vw;
    left: 1vw !important;
    margin-left: 0 !important;

    > h3 {
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
        color: white;
        padding: 5px;
        padding-left: 15px;
        border-radius: 5px 5px 0 0;
    }
    .split {
        display: flex;
        flex-direction: row;
    }
    
    .gutter {
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    
    .gutter.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        cursor: col-resize;
    }
    #file-manager{
        position:static;
        margin-top: 0;
        margin-left: 0;
        .chonky-chonkyRoot{
            overflow: auto;
        }
        .file-manager-wrapper 
        {
            .tree-view-container{
                width: 100%;
            }
            
        }
    }
  

    #sketch-pad-xtractor-container {
        background: white;
        height: auto;
        position: relative !important;
        margin-top: 5px;
        margin-left: -8px;
        padding: 0;
        z-index: 2;
        user-select: none;
        width: 98vw;
        left: 1vw !important;
        margin-left: 0 !important;
    
        h3 {
            margin: 0;
            top: 0;
            left: 0;
            width: 100%;
            background-color: black;
            color: white;
            padding: 5px;
            padding-left: 15px;
            border-radius: 5px 5px 0 0;
        }
    
        #sketch-pad-xtractor {
            padding: 15px;
            border: 0px solid #ccc;
            border-top: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            height: auto;
            float: left;
            width: 100%;
    
            .sketch-pad-xtractor-column {
                width: 25%;
                box-sizing: border-box;
                height: 600px;
                padding: 10px;
                float: left;
                border: 1px solid #ccc;
                position: relative;
                overflow: auto;
                &.full {
                  width: 100%;
                  height: auto;
                }
    
                .loader-container {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  margin-top: -30px;
                  margin-left: -38px;
                }
    
                h4 {
                    text-transform: uppercase;
                    font-weight: bold;
                    position: relative;
                    padding-left: 25px;
    
                    > svg {
                        position: absolute;
                        left: 0;
                    }
                }
    
                .xtractor-column-container {
                  height: calc(100% - 32px);
                  overflow-y: auto;
                }
    
                ul {
                    padding: 0;
                    list-style-type: none;
                    margin: 0;
    
                    li {
                        width: 100%;
                        float: left;
                        margin-bottom: 5px;
    
                        a {
                            padding: 5px;
                            cursor: pointer;
                            display: block;
                            width: 100%;
                            background: rgba(255,255,255,0.75);
                            box-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
                            // font-weight: bold;
                            position: relative;
    
                            &:hover, &.active {
                                color: rgba(255,255,255,0.75);
                                background-color: rgba(0 0 0 / 50%);
                            }
    
                            span {
                                width: 100%;
                                display: block;
                                margin-bottom: 3px;
    
                                &.right {
                                  position: absolute;
                                  right: 5px;
                                  width: auto;
                                  top: 5px;
                                }
                            }
    
                            small {
                                // font-weight: normal;
                                word-break: break-all;
                            }
                        }
                    }
                    li:active{
                        opacity: 0.7;
                        border: 1px solid #ccc;
                    }
                }
                ul.detail a{
                    cursor: default;
                }
            }
    
            .sketch-pad-xtractor-row  {
              width: 100%;
              height: auto;
            }
    
        }

        
    }
    

    .module-container{
       
        a{
            cursor: pointer;
        }
        ul {
            list-style-type: none; /* Removes the default bullet points */
            padding: 0; /* Removes the default padding */
            margin: 0; /* Removes the default margin */
          }          
        ul li {
        background-color: #f0f0f0; /* Light grey background */
        padding: 1px;
        margin-bottom: 5px; /* Adds space between items */
        }
        .sample-container{
            max-height: 400px;
            overflow-y: auto;
        }
        .dropzone-container{
            height: 100px;
            background: #eef;
            text-align: center;
            padding-top: 25px;
        }

        .metadata{
            max-height: 200px;
            overflow-y: auto;
        }
    }
}


.drop_area {
    width: 100%;
    height: 100px;
    color: #111;
    font-weight: 500;
    border: 2px dashed #111;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  
  .hide_drop {
    opacity: 0;
  }
  

  .window-container {
    position: fixed !important;
    top: 50px;
    left: 50px;
    z-index: 9999;
  }
  
  .window-panel {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .window {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .window-header {
    background: #0078d7;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    cursor: move;
  }
  
  .window-content {
    padding: 10px;
    flex-grow: 1;
  }
  
  .draggable-box {
    position: absolute;
    width: 100px;
    height: 50px;
    background: #ff6600;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    cursor: grab;
    user-select: none;
    pointer-events: auto !important;
    user-select: auto !important;
  }

  .window-content{
    .layout {
        display: grid;
        grid-template-rows: 30px 1fr 100px;
        height: 100%;
    }            
    .body {
        display: grid;
        grid-template-columns: 200px auto;
        height: 100%;
        overflow: hidden;
    }
    
    .header {               
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer {               
        display: flex;
       
    }
    
    .nav {                
        padding: 3px;
    }
    
    .content {               
        padding: 3px;
        overflow: auto;
        height: 100%;
        margin-left: 15px;
        max-height: 500px;
    }
    
    .scrollable {                
        padding: 3px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;                            
        cursor: pointer;
    }

    ul.categories {                       
        width: 200px;               
    }

    li {
        margin: 1px;
    }

  
    .nav-button {
        display: block;
        padding: 3px 2px;
        background-color: #eee;              
        text-decoration: none;
        border-radius: 3px;                                                
        transition: background-color 0.2s ease, transform 0.1s ease;
    }
    li.selected{
        background-color: #eef;                             
    }

    li:hover{
        background-color: #eef; 
    }
  
    // .nav-button:hover {
    //     background-color: #eef; 
    // }

  
    // .nav-button:active {
    //     background-color: #eef;
    //     transform: scale(0.98);
    // }
  
    .sound-meta{
        overflow: hidden;
        white-space: nowrap;
        a{
            cursor: pointer;
        }
    }
  }